@define-color inactive #aaa;
@define-color error #ff7770;
@define-color bgdefault rgba(230, 220, 255, 0.15);

* {
  /* A Nerd Font is required to be installed for icons, prefer Aribo */
  font-family: Aribo, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

window#waybar {
  background-color: rgba(30, 38, 46, 0.75);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @inactive;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  color: white;
}

#workspaces button.focused {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#keyboard-state,
#language,
#memory,
#mode,
#mpd,
#network,
#power-profiles-daemon,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber {
  background-color: @bgdefault;
  padding: 0 12px;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#battery {
  background-color: #ffffff;
  color: #000000;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @error;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.7s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth {
  background-color: @error;
  border-bottom: 4px solid #2980b9;
}

#bluetooth.on {
  background-color: @bgdefault;
}

#power-profiles-daemon {
  padding-right: 12px;
}

#power-profiles-daemon.performance {
  border-bottom: 4px solid #f53c3c;
}

#power-profiles-daemon.balanced {
  border-bottom: 4px solid #2980b9;
}

#power-profiles-daemon.power-saver {
  border-bottom: 4px solid #2ecc71;
  color: #000000;
}

label:focus {
  background-color: #000000;
}

#cpu {
  border-bottom: 4px solid #2ecc71;
}

#memory {
  border-bottom: 4px solid #9b59b6;
}

#disk {
  border-bottom: 4px solid #964B00;
}

#network {
  border-bottom: 4px solid #2980b9;
}

#network.disconnected {
  border-bottom: 4px solid #f53c3c;
}

#pulseaudio {
  border-bottom: 4px solid #f1c40f;
}

#pulseaudio.muted {
  border-bottom: 4px solid #90b1b1;
  color: #2a5c45;
}

#wireplumber {
  border-bottom: 4px solid #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  border-bottom: 4px solid @error;
}

#custom-media {
  border-bottom: 4px solid #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  border-bottom: 4px solid #66cc99;
}

#custom-media.custom-vlc {
  border-bottom: 4px solid #ffa000;
}

#temperature {
  border-bottom: 4px solid #f0932b;
}

#temperature.critical {
  border-bottom: 4px solid #eb4d4b;
}

#tray {
  border-bottom: 4px solid #2980b9;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  border-bottom: 4px solid #eb4d4b;
}

#idle_inhibitor {
  border-bottom: 4px solid #ecf0f1;
}

#idle_inhibitor.deactivated {
  color: @inactive;
  border-bottom: 4px solid @inactive;
}

#mpd {
  border-bottom: 4px solid #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  border-bottom: 4px solid @error;
}

#mpd.stopped {
  border-bottom: 4px solid #90b1b1;
}

#mpd.paused {
  border-bottom: 4px solid #51a37a;
}

#language {
  border-bottom: 4px solid #00b093;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#clock {
  border-bottom: 4px solid #00b093;
}

#keyboard-state {
  border-bottom: 4px solid #97e1ad;
  padding: 0 0px;
  min-width: 16px;
}

#keyboard-state>label {
  padding: 0 5px;
}

#keyboard-state>label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  border-bottom: 4px solid #cf5700;
}

#privacy-item.audio-in {
  border-bottom: 4px solid #1ca000;
}

#privacy-item.audio-out {
  border-bottom: 4px solid #0069d4;
}
